@use '../../config/import' as *;
@use './hover' as *;
@use '../function/vw' as *;

@mixin incLinkTextPC() {
	position: relative;
	color: $blue01;
	text-decoration: underline;
	font-weight: $fwMedium;
	@include hoverOpacity();
	&[target="_blank"]::after {
		display: inline-block;
		margin: 0 5px;
		margin-bottom: -1px;
		width: 15px;
		height: 15px;
		background: url(#{$imgPath}/icon-blank-blue.svg) no-repeat center / contain;
		content: "";
	}
}

@mixin incLinkTextSP() {
	position: relative;
	color: $blue01;
	text-decoration: underline;
	font-weight: $fwMedium;
	@include hoverOpacity();
	&[target="_blank"]::after {
		display: inline-block;
		margin: 0 vw(5);
		margin-bottom: vw(-1);
		width: vw(15);
		height: vw(15);
		background: url(#{$imgPath}/icon-blank-blue.svg) no-repeat center / contain;
		content: "";
	}
}
