$white01: #fff;
$black01: #333;
$primary01: #E1AA3C;
$primary02: #fa8501;
$primary03: #EAE3D6;
$primary04: #BDA99D;
$brown01: #51270d;
$gray01: #eee;
$beige01: #faf8ee;
$blue01: #4f5b93;
$red01: #c92e3c;
$red02: #f7e8ea;
